/* src/components/Loading.css */
.loading-video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
  overflow: hidden;
}

.loading-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
